@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-image: url('../img/cream_pixels.png');
   overflow-x: hidden;
}

:root {
    --color1: #20415c;
    --color2: #797979;
}

/* My Class */
#konten {
    margin-top: 95px;
}

.my-bg-primary {
    background: var(--color1);
}

.my-text-primary {
    color: var(--color1);
}

.my-text-hover {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}

.my-text-hover:hover {
    color: #3374a8;
}

.my-border-bottom-primary {
    border-bottom: 10px solid var(--color1);
}

.my-dropmenu {
    margin-top: 12px !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.my-pengumuman {
    height: 50px;
}

.my-width-col {
    width: 4.8%;
    padding: 12px;
}

.my-width-col2 {
    width: 96.2%;
    padding: 0 !important;
}

.my-icon-pengumuman {
    color: var(--color2);
}

.my-marquee-text {
    margin: 13px 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.my-title-sm {
    font-size: 0.8rem;
    font-weight: 700;
}

.my-title {
    font-size: 1.15rem;
    font-weight: 500;
}

.my-small-sm {
    font-size: 0.65rem;
}

.my-img-in-card {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.my-bg-hover {
    padding: 8px 0 5px 0;
}

.my-link-hover:hover .my-bg-hover {
    background: #aaaaaa2c;
}

.my-sosmed-icon {
    font-size: 1.8rem;
    margin: 0 10px;
}

#backToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
}

.my-btn-transparent {
    background: rgba(48, 48, 48, 0.4);
}

.my-btn-transparent:hover {
    background: rgb(32, 65, 92);
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#backToTop.my-btn-show {
    opacity: 1;
    visibility: visible;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 95px;
}

.my-video {
    width: 100%;
    height: 500px;
}

.my-breadcrumbs{
    height: 100px;
    text-align:center;
    line-height:50px;
}

.my-img-top-card {
    height: 600px;
}

/* Importan Class */

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: var(--color2) !important;
    font-weight: 300;
}

.nav-link:hover {
    color: var(--color1) !important;
}

.active {
    color: var(--color1) !important;
}

.dropdown-item {
    font-weight: 300;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption p {
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .my-pengumuman {
        height: 40px;
    }
    .my-width-col {
        padding: 8px;
    }
    .my-marquee-text {
        margin: 9px 0;
        font-size: 0.9rem;
        font-weight: 300;
    }
    .carousel-caption {
        bottom: 50px;
    }
    .carousel-inner {
        height: 350px !important;
    }
    .my-sosmed-icon {
        font-size: 2rem;
        margin: 0 15px;
    }
    #backToTop {
        right: 20px;
        bottom: 20px;
    }
    .sidebar-sticky {
        position: none;
        position: none;
        top: none;
    }
    .my-video {
        height: 300px;
    }  
    .my-img-top-card {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .my-pengumuman {
        height: 30px;
    }
    .my-width-col {
        padding: 5px;
    }
    .my-width-col2 {
        margin-left: 10px;
    }
    .my-icon-pengumuman {
        font-size: 0.8rem;
    }
    .my-marquee-text {
        margin: 5px 0;
        font-size: 0.9rem;
        font-weight: 300;
    }
    .carousel-inner {
        height: 150px !important;
    }
    .carousel-item img {
        /* display: inline-block; */
        /* object-fit: cover;
        object-position: center; */
        height: 200px;
    }
    .carousel-caption {
        bottom: 50px;
    }
    .carousel-caption p {
        margin: -10px 20px;
    }
    .my-video {
        height: 200px;
    }  
    .my-img-top-card {
        height: 200px;
    }
}

/*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */
  
  
  .round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
  .round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
  .round-btn .icon {padding: 3px;}
  .round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
  .btn-facebook a {color: #3b5998;padding: 8px 13px;}
  .btn-linkedin a {color: #007bb6;}
  .btn-twitter a{color: #1c9deb;}
  .btn-instagram a{color: #dd3f5c;}
  .btn-whatsapp a{color: #155E54;}
  .btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
  .standard_header .standard_social_links {margin-left: 1rem;}
  
    /*
    =========================================================================================
                                      footer
    =========================================================================================
    */
    
    .footer-wrap {
      padding-top: 43px;
      background-size: cover;
  }
  
  .footer-wrap h3 {
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 25px;
  }
  
  .footer-wrap p {
      font-size: 13px;
      line-height: 24px;
      color: #b3b3b3;
      margin-top: 15px;
  }
  
  .footer-wrap p a {
      color: #fff;
      text-decoration: underline;
      font-style: italic;
  }
  
  .footer-wrap p a:hover {
      text-decoration: none;
      color: #ff7800;
  }
  
  .footer-links li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  
  .footer-category li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  
  .address {
      
      color: #b3b3b3;
      font-size: 14px;
      position: relative;
      padding-left: 30px;
      line-height: 30px;
  }
  
  .address:before {
      content: "\f277";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .info a {
   
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-phone:before {
      content: "\f095";
  }
  
  .info a {
  
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-fax:before {
      content: "\f1ac";
  }
  
  .copyright {
      font-size: 0.8rem;
      color: #ccc;
      text-align: center;
      background: var(--color1);
  }

  footer .second_class{
      padding-bottom: 25px;
  }
  footer .first_class {
      padding-bottom: 21px;
      border-bottom: 1px solid #444;
  }
  footer .first_class p, footer .first_class h3{
      margin: 0 0;
      
  }
  footer{
      background: #294b66;
  }
  
  footer .newsletter input[type="text"] {
      width: 100%;
      background: #fff;
      color: #333;
      border: 1px solid #222;
      padding: 14px 20px;
      border-radius: 50px;
      margin-top: 12px;
  }
  
  .newsletter .newsletter_submit_btn {
      background: #fff;
      position: absolute;
      right: 30px;
      border: 0;
      top: 26px;
      font-size: 17px;
      color: #333;
  }
  
  
  footer .second_class_bdr{
      padding-top: 25px;
      border-top:1px solid #222;
  }
  
  footer .btn-facebook a {
      padding: 6px 14px !important;
  }
  
  footer .btn-envelop a {
      color: #D6403A;
      font-size: 15px;
      padding: 12px 12px;
  }
  
  footer .round-btn a {
      padding: 6px 12px;
  }
  
  footer .round-btn {
      box-shadow: 2px 2px 5px 0px #222 !important;}
  
  footer .round-btn {
      margin: 15px 4px;}
    
  footer dl, ol, ul {
      padding-left: 5px;
  }
    footer li{
      list-style: none;
    }
  
  @media(max-width:768px){
      .footer-wrap h3 {
      margin-top: 27px;}
      
      footer .round-btn {
      margin: 15px 4px;}
  }